[Unit]
Description=Kubectl Port Forward Service

[Service]
Type=simple
ExecStart=/snap/bin/kubectl --kubeconfig /etc/systemd/system/kubespray-do.conf port-forward service/spring-service 33065

[Install]
WantedBy=multi-user.target
