.custom-container {
    background-color: rgba(0, 0, 0, 0.5); /* Color oscuro cristalino */
    color: white; /* Texto blanco */
    padding: 20px; /* Añade relleno para mejorar la legibilidad */
    font-family: 'Courier New', Courier, monospace;
    max-width: 30vw;
    max-height: 75vh;
    position: absolute;
    margin-left: 2vw;
    overflow-y: auto;
    
}
